# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

#Virtual Environment
nfl_venv/

#CSV_Files
Active_Player_Urls.csv
Active_Player_Basic_Stats.csv
Active_Player_Career_Stats.csv
Retired_Player_Urls.csv
Retired_Player_Basic_Stats.csv
Retired_Player_Career_Stats.csv
ActivePlayer_Passing_Stats.csv
ActivePlayer_Rushing_Stats.csv
ActivePlayer_Receiving_Stats.csv
ActivePlayer_Fumbles_Stats.csv
ActivePlayer_Defense_Stats.csv
ActivePlayer_Kicking_Stats.csv
ActivePlayer_Punting_Stats.csv
ActivePlayer_KickReturns_Stats.csv
ActivePlayer_PuntReturns_Stats.csv
RetiredPlayer_Passing_Stats.csv
RetiredPlayer_Rushing_Stats.csv
RetiredPlayer_Receiving_Stats.csv
RetiredPlayer_Fumbles_Stats.csv
RetiredPlayer_Defense_Stats.csv
RetiredPlayer_Kicking_Stats.csv
RetiredPlayer_Punting_Stats.csv
RetiredPlayer_KickReturns_Stats.csv
RetiredPlayer_PuntReturns_Stats.csv


# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
